<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/pygment_trac.css" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/print.css" media="print" /> -->
    <script>location.href='http://blog.csdn.net/tzdwsy';</script>
    <title>{{page.title}}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>
          <a href="{{site.baseurl}}/">{{site.title}}</a>
          <span id="downloads">
            <a href="https://github.com/{{site.username}}/{{site.baseurl}}/tree/gh-pages" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </span>
        </h1>
        <h2>{{site.description}}</h2>

        
      </div>
    </header>

    <div class="container">
      <section id="main_content">
{{ content }}
      </section>
      
      <section id="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>
      
    <footer>
      <p>Project maintained by <a href="https://github.com/{{site.username}}">{{site.username}}</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme of <a href="https://github.com/sundaykofax/baby-legs/tree/gh-pages">baby-legs</a></p>
    </footer>
    </div>
    <!-- 51LA -->
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/17847975.js"></script>
		<noscript><a href="http://www.51.la/?17847975" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17847975.asp" style="border:none" /></a></noscript>
  </body>
</html>
