#left-side {
	position:fixed;
	margin-left: 20%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#left-side a {
	color: #fff;
}

#right-side {
	position:fixed;
	margin-left: 70%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#right-side a {
	color: #fff;
}