#left-side {
	position:fixed;
	margin-left: 20%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-shadow:  2px 2px 5px #000;
}

#right-side {
	position:fixed;
	margin-left: 75%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-shadow:  2px 2px 5px #000;
}